<app-navbar></app-navbar>

<div>


  <section class="main-container">
    <div class="row searchBar">
      <div class="bar">
        <input class="searchbar" type="text" title="Search">
        <!--  <ul>
             <li>lsdkjf</li>
             <li>lsdkjf</li>
             <li>lsdkjf</li>
             <li>lsdkjf</li>
         </ul> -->
      </div>
    </div>


    <div class="location" >
      <br/>
      <h2 id="home" class="latest-heading harmattan">{{activateID.genre}}</h2>
      <br/><br/>
      <div class="box">
        <!-- genre_books -->
        <div *ngFor="let book of genre_books">
          <div class="cover">
            <a routerLink='/book/{{book.isbn}}'>
              <img
              src="{{book.image_URL}}"
                alt=""/>
            </a>
          </div>
          <div>
            <strong>{{book.book_title}}</strong>
            <p>{{book.author_name[0]}}</p>
          </div>
        </div>
      </div>
    </div>
    <br/>


    <section class="link">
<!--      <div class="logos">-->
<!--        <a href="#"><i class="fab fa-facebook-square fa-2x logo"/></a>-->
<!--        <a href="#"><i class="fab fa-instagram fa-2x logo"/></a>-->
<!--        <a href="#"><i class="fab fa-twitter fa-2x logo"/></a>-->
<!--        <a href="#"><i class="fab fa-youtube fa-2x logo"/></a>-->
<!--      </div>-->
      <div class="sub-links">
        <ul>
          <li><a href="#">Audio and Subtitles</a></li>
          <li><a href="#">Audio Description</a></li>
          <li><a href="#">Help Center</a></li>
          <li><a href="#">Gift Cards</a></li>
          <li><a href="#">Media Center</a></li>
          <li><a href="#">Investor Relations</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Legal Notices</a></li>
          <li><a href="#">Corporate Information</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <footer>
        <p>&copy 2021 QuikRead, Inc.</p>
        <p>Goli is the best 2021</p>
      </footer>
    </section>
  </section>


</div>
