<app-navbar></app-navbar>

<div>


  <section class="container">
    <div class="row searchBar">
      <div class="bar">
        <input class="searchbar" type="text" title="Search">
      </div>
    </div>

    <!-------Latest Books-------->
    <div class="location" >
      <h2 id="home" class="latest-heading harmattan">Latest Books</h2>
      <br/><br/>
      <div class="box">
        <div *ngFor="let book of latest_books">
          <div class="cover">
            <a routerLink='/book/{{book.isbn}}'>
              <img
              src="{{book.image_URL}}"
                alt=""/>
            </a>
          </div>
          <div>
            <strong>{{book.book_title}}</strong>
            <p>{{book.author_name[0]}}</p>
            <div>{{book.book_category[0]}}</div>
          </div>
        </div>
      </div>
    </div>
    <!--------Personal-------->
    <div class="location" >
      <h2 id="home" class="latest-heading harmattan">Personal</h2>
      <br/><br/>
      <div class="box">
        <div *ngFor="let book of personal_books">
          <div class="cover">
            <a href="">
              <img
              src="{{book.image_URL}}"
                alt=""/>
            </a>
          </div>
          <div>
            <strong>{{book.book_title}}</strong>
            <p>{{book.author_name[0]}}</p>
          </div>
        </div>
      </div>
    </div>

    <!--------Business-------->
    <div class="location" >
      <br/>
      <h2 id="home" class="latest-heading harmattan">Business</h2>
      <br/><br/>
      <div class="box">
        <div *ngFor="let book of business_books">
          <div class="cover">
            <a href="">
              <img
                src="{{book.image_URL}}"
                alt=""/>
            </a>
          </div>
          <div>
            <strong>{{book.book_title}}</strong>
            <p>{{book.author_name[0]}}</p>
          </div>
        </div>
      </div>
    </div>
    <br/>


    <section class="link">

      <footer>
        <p>&copy 2021 QuikRead, Inc.</p>
        <p>Goli is the best 2021</p>
      </footer>
    </section>
  </section>
</div>
