<nav class="navbar navbar-expand-md flex-column navbar-light bg-transparent">
  <div>
    <a class="navbar-brand align-self-center m-0 pb-3 position-md-absolute pb-md-0 font-size harmattan" href="#">Quikreads</a>
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16" style="margin-bottom:18px; margin-left:5px; cursor: pointer;" routerLink='/bookmarks'>
      <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
    </svg>
  </div>

  <div class="text-center">
    <h5>Enjoy Access to your favourite books summaries! 💯</h5>
  </div>
 </nav>
