
.container {
  color: #3a3a3a;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  line-height: 3;
  padding: 0 40px 0 40px;

}
//**SECTION1**//
.section1{
  display: grid;
  grid-template-columns:  1fr 6fr;
}
.description {
  padding: 5px;
}

//**SECTION2**//

.linksContainer{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
}

.quotesContainer{
  display: grid;
  grid-template-columns:  1fr 1fr;
  line-height: 1;
}
.quotes{
  padding: 10px;
}

//**FOOTER**//
footer{
  line-height: 1;
  padding: 20px;
  text-align: center;
  color: var(--dark);
  margin: 10px;
}

//**general**//
iframe{
  width: 350px;
  padding: 10px;
  height: 200px;
  border: solid transparent;
}
hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;
  background-color: #5f5d5d;
  height: 1px;
}
button{
  margin-top: 0;
  color: #222222;
  background-color: white;
  border-radius: 30px;
  width: 120px;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  font-size: 15px;
  border: 2px #222222 solid;
  font-family: 'Questrial', sans-serif ,strong;
}
button:hover{
  background-color: #222222;
  color: white;
  font-weight: bold;
}
img{
  margin-top: 10px;
}

