<app-navbar></app-navbar>
<br/><br/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container">
  <div class="section1">
    <div class="coverImage">
      <img
        src="{{bookDetails.image_URL}}"
        alt="book cover"/>
    </div>
    <div class="description">
      <h3 class="roboto"><strong>{{bookDetails.book_title}}</strong></h3>
      <h5 class="roboto"><strong>{{bookDetails.author_name}}</strong></h5>
      <h6 class="line-height"><strong>ISBN:</strong> {{bookDetails.isbn}}</h6>
      <h6 class="line-height">{{bookDetails.small_discription}}</h6>
    </div>
    <div><!--empty--></div>
    <div class="downloadSection">
      <h6><strong class="roboto" >Get a copy:</strong></h6>
      <button class="btn btn-outline-warning m-2" (click)="onBuy()">Amazon Buy</button>
      <button class="btn btn-outline-dark m-2" (click)="onDownload()">Download</button>
      <button class="btn btn-outline-danger" (click)="shareLink()">Share Link</button>
    </div>
    <div><!--empty--></div>
    <div class="categories" >
      <strong>Categories: </strong>
      <h6 style="display: inline;margin-right: 3px;" class="badge badge-primary" routerLink='/genre/{{category}}'
          *ngFor="let category of bookDetails.book_category">{{category}}</h6>
    </div>
  </div>

  <div class="section2">
    <strong class="roboto">Video Summary:</strong>
    <div class="linksContainer">
      <span id="previous" class="material-icons md-24">arrow_left</span>

      <span id="next" class="material-icons md-24">arrow_right</span>
      <div id="slider" class="slider">
      </div>
    </div>
  </div>
  <div class="row spotify" *ngIf="bookDetails.podcast_mp3[0]">
    <!-- <p class="mt-2 roboto mb-4"><strong>Podcast</strong></p> -->
    <embed class="mx-auto mt-2" id="spotify" width="91%" height="200" src="https://open.spotify.com/embed-podcast/show/1BiL8ElHJeVfaprIM8OkNY" type="">
  </div>
  <div class="row" style="display: block;">
    <p class="mt-2 roboto mb-4"><strong>Famours lines from the book</strong></p>
      <div class="mb-4 cursive" *ngFor="let quote of bookQuotes">
        {{quote}}
      </div>
  </div>
  <br><br>

  <footer>
    <p>&copy 2021 QuikRead, Inc.</p>
    <p>Goli is the best 2021</p>
  </footer>

</div>

