<app-navbar></app-navbar>
<br/><br/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container">
  <div class="section1">
    <div class="coverImage">
      <img
        src="{{bookDetails.image_URL}}"
        alt="book cover"/>
    </div>
    <div class="description">
      <h3>{{bookDetails.book_title}}</h3>
      <h5>{{bookDetails.author_name}}</h5>
      <h6>{{bookDetails.small_discription}}</h6>
    </div>
    <div><!--empty--></div>
    <div class="downloadSection">
      <h6>Get a copy:</h6>
      <button style="margin-right: 15px" id="buy">BUY</button>
      <button id="download">DOWNLOAD</button>
    </div>
    <div><!--empty--></div>
    <div class="categories" >
      Categories:
      <h6 style="display: inline;margin-right: 3px;"  routerLink='/genre/{{category}}'
          *ngFor="let category of bookDetails.book_category">{{category}}</h6>
    </div>
  </div>

  <div class="section2">
    Video Summary:
    <div class="linksContainer">
      <span id="previous" class="material-icons md-24">arrow_left</span>

      <span id="next" class="material-icons md-24">arrow_right</span>
      <div id="slider" class="slider">

        <iframe width="1832" height="812" src="https://www.youtube.com/embed/p7dqmROKGIo" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        <iframe width="1832" height="812" src="https://www.youtube.com/embed/_9bw_VtMUGA?list=RD_9bw_VtMUGA" title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        <iframe width="1832" height="812" src="https://www.youtube.com/embed/CzDjWbQQaVg" title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </div>

    Quotes:
    <div class="quotesContainer">
      <div class="quotes" *ngFor="let quote of bookDetails.book_quote">
        {{quote}}
      </div>
    </div>
  </div>
  <br><br>

  <footer>
    <p>&copy 2021 QuikRead, Inc.</p>
    <p>Goli is the best 2021</p>
  </footer>

</div>

