// @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
.container {
  // color: #3a3a3a;
  // font-family: 'Open Sans', sans-serif;
  text-align: justify;
  line-height: 3;
  padding: 0 40px 0 40px;

}
//**SECTION1**//
.section1{
  display: grid;
  grid-template-columns:  1fr 6fr;
}
.description {
  padding: 5px;
}
.categories h6:hover{
  font-weight: bold;
  cursor: pointer;
  }

//**SECTION2**//

.linksContainer{
  max-width: 1000px;
  position: relative;
  padding: 5px;
  background: #fff;
  margin: 15px auto;
}

.quotesContainer{
  display: grid;
  grid-template-columns:  1fr 1fr;
  line-height: 1;
}
.quotes{
  padding: 10px;
}

//**FOOTER**//
footer{
  line-height: 1;
  padding: 20px;
  text-align: center;
  color: var(--dark);
  margin: 10px;
}

//**general**//
iframe{
  width: 950px;
  padding: 10px;
  height: 650px;
  align-self: center;
  border: solid transparent;
}
hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;
  background-color: #5f5d5d;
  height: 1px;
}
// button{
//   margin-top: 0;
//   color: #222222;
//   background-color: white;
//   border-radius: 30px;
//   width: 120px;
//   display: inline-flex;
//   align-items: center;
//   justify-content: space-around;
//   height: 40px;
//   font-size: 15px;
//   border: 2px #222222 solid;
//   font-family: 'Questrial', sans-serif ,strong;
// }
// button:hover{
//   background-color: #222222;
//   color: white;
//   font-weight: bold;
// }
img{
  margin-top: 10px;
}


#previous, #next {
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 16px;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  top: calc(50% - 25px);
  left: -20px;
  box-shadow: 0 12px 25px -9px grey;
}

#next {
  left: unset;
  right: -20px;
}

@media (max-width: 480px){
  #previous, #next {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    top: calc(50% - 20px);
  }
}

@media (min-width: 1200px){
  #previous, #next {
    width: 60px;
    height: 60px;
    border-radius: 18px;
    top: calc(50% - 30px);
    left: -30px;
  }

  #next {
    left: unset;
    right: -30px;
  }
}


.line-height {
  line-height: 25px;
}

.cursive {
  line-height:40px;
  font-size: 2.5rem;
  font-family: 'Sacramento', cursive;
  text-transform: lowercase; 

}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.spotify {
  $spotify-green: #1ED760;
$animation-duration: 4s;
$dash-length-circle: 90;
$dash-length-letters: 600;

@keyframes scale-to-full {
	0%,
  1% {
    transform: scale(0);
	}
	70%,
  100% {
    transform: scale(1);
	}
}

@keyframes show-bars {
  0%,
	30% {
		opacity: 0;
    transform: scaley(0.78);
	}
	70%,
  92.8% {
		opacity: 1;
    transform: scaley(1);
	}
  93%,
  100% {
		opacity: 0;
    transform: scaley(0.78);
	}
}

@keyframes dash {
  0% {
    fill-opacity: 0;
    stroke-width: 1px;
  }
  37% {
    fill-opacity: 0;
  }
  50% {
    stroke-width: 1px;
  }
  100% {
    fill-opacity: 1;
    stroke-dashoffset: 0;
    stroke-width: 0;
  }
}


#wrapper {
  align-items: center;
  display: flex;
  height: 10vh;
  justify-content: center;
  width: 10vw;
  
  svg {
    height: 80vh;
    max-width: 90vw;
    width: auto;
  }
}

#logo--circle {
  animation: dash $animation-duration infinite, scale-to-full $animation-duration infinite;
  fill: $spotify-green;
  stroke: $spotify-green;
  stroke-dasharray: $dash-length-circle;
  stroke-dashoffset: $dash-length-circle;
  transform-origin: 84px 50%;
  transition: fill-opacity 0.3s ease, transform 0.1s ease;

  .logo--circle--bar {
    animation: show-bars $animation-duration infinite;
    fill: white;
    opacity: 0;
    transform: scaley(0.78);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  #logo--circle--bar-1 {
    animation-delay: 0.25s;
  }

  #logo--circle--bar-2 {
    animation-delay: 0.7s;
  }

  #logo--circle--bar-3 {
    animation-delay: 1s;
  }
}

#logo--name path {
  animation: dash $animation-duration infinite;
  fill: $spotify-green;
  stroke: $spotify-green;
  stroke-dasharray: $dash-length-letters;
  stroke-dashoffset: $dash-length-letters;
  transition: fill-opacity 0.3s ease;
}
}


.bookmark123 {
  .cont {
    width: 192px;
    height: 192px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.02);
  }
  .cont:hover {
    box-shadow: 0px 32px 64px 0px rgba(0,0,0,0.12);
    cursor: pointer;
  }
  .cont .label,
  .cont .label2 {
    position: absolute;
    width: auto;
    margin-top: 54px;
    font-size: 24px;
    color: rgba(51,51,51,0.3);
    font-weight: 300;
    font-family: "SF Pro Display", sans-serif;
  }
  .cont .label2 {
    color: rgba(255,255,255,0.3);
  }
  .cont_alter {
    background: #333 !important;
  }
  .bookmark {
    margin-top: -16px;
    position: absolute;
  }
  .hide_label {
    opacity: 0;
  }
  .bookmarked path {
    d: path("M 0 4.00673C 0 0.811944 3.56058 -1.09362 6.2188 0.678524L 21.7812 11.0535C 23.1248 11.9492 24.8752 11.9492 26.2188 11.0535L 41.7812 0.678525C 44.4394 -1.09362 48 0.811944 48 4.00673L 48 56.5327C 48 58.7418 46.2091 60.5327 44 60.5327L 24 60.5327C 24 60.5327 24 60.5327 24 60.5327L 4 60.5327C 1.79086 60.5327 0 58.7418 0 56.5327L 0 4.00673Z");
    fill: #fff;
  }
  * {
    -webkit-transition: 0.6s ease-in-out;
  }
  
}