// @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
.container {
  // color: #3a3a3a;
  // font-family: 'Open Sans', sans-serif;
  text-align: justify;
  line-height: 3;
  padding: 0 40px 0 40px;

}
//**SECTION1**//
.section1{
  display: grid;
  grid-template-columns:  1fr 6fr;
}
.description {
  padding: 5px;
}
.categories h6:hover{
  font-weight: bold;
  cursor: pointer;
  }

//**SECTION2**//

.linksContainer{
  max-width: 1000px;
  position: relative;
  padding: 5px;
  background: #fff;
  margin: 15px auto;
}

.quotesContainer{
  display: grid;
  grid-template-columns:  1fr 1fr;
  line-height: 1;
}
.quotes{
  padding: 10px;
}

//**FOOTER**//
footer{
  line-height: 1;
  padding: 20px;
  text-align: center;
  color: var(--dark);
  margin: 10px;
}

//**general**//
iframe{
  width: 950px;
  padding: 10px;
  height: 650px;
  align-self: center;
  border: solid transparent;
}
hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;
  background-color: #5f5d5d;
  height: 1px;
}
// button{
//   margin-top: 0;
//   color: #222222;
//   background-color: white;
//   border-radius: 30px;
//   width: 120px;
//   display: inline-flex;
//   align-items: center;
//   justify-content: space-around;
//   height: 40px;
//   font-size: 15px;
//   border: 2px #222222 solid;
//   font-family: 'Questrial', sans-serif ,strong;
// }
// button:hover{
//   background-color: #222222;
//   color: white;
//   font-weight: bold;
// }
img{
  margin-top: 10px;
}


#previous, #next {
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 16px;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  top: calc(50% - 25px);
  left: -20px;
  box-shadow: 0 12px 25px -9px grey;
}

#next {
  left: unset;
  right: -20px;
}

@media (max-width: 480px){
  #previous, #next {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    top: calc(50% - 20px);
  }
}

@media (min-width: 1200px){
  #previous, #next {
    width: 60px;
    height: 60px;
    border-radius: 18px;
    top: calc(50% - 30px);
    left: -30px;
  }

  #next {
    left: unset;
    right: -30px;
  }
}


.line-height {
  line-height: 25px;
}

.cursive {
  line-height:40px;
  font-size: 2.5rem;
  font-family: 'Sacramento', cursive;
  text-transform: lowercase; 

}

.roboto {
  font-family: 'Roboto', sans-serif;
}