<app-navbar></app-navbar>
<br/><br/>
<div class="container">
  <div class="section1">
    <div class="coverImage">
      <img
        src="https://books.google.co.in/books/content?id=wrOQLV6xB-wC&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE72TB6v5O8RmgZn0V4VAYVgvC3g6PGjSXBY42wO_SuxL6ddcEKQuHF3OjKtJ8NnnHxzLWdILcsUu7_dEeXe-V0M_LRcIrEKKvMF981mloFTrXkUF-jE6MDH0Y_YSjfvw7nIJPykT"
        alt="book cover"/>
    </div>
    <div class="description">
      <h3>Harry Potter and the Philosopher's Stone</h3>
      <h5>J.K Rowling</h5>
      <h6>Turning the envelope over, his hand trembling, Harry saw a purple wax seal bearing a coat of arms; a lion, an
        eagle,
        a badger and a snake surrounding a large letter 'H'.
        Harry Potter has never even heard of Hogwarts when the letters start dropping on the doormat at number four,
        Privet Drive. Addressed in green ink on yellowish parchment with a purple seal, they are swiftly confiscated by
        his
        grisly aunt and uncle. Then, on Harry's eleventh birthday, a great beetle-eyed giant of a man called Rubeus
        Hagrid bursts
        in with some astonishing news: Harry Potter is a wizard, and he has a place at Hogwarts School of Witchcraft and
        Wizardry.
        An incredible adventure is about to begin!
        Having now become classics of our time, the Harry Potter ebooks never fail to bring comfort
        and escapism to readers of all ages. With its message of hope, belonging and the enduring power of
        truth and love, the story of the Boy Who Lived continues to delight generations of new readers.
      </h6>
    </div>
    <div><!--empty--></div>
    <div class="downloadSection">
      <h6>Get a copy:</h6>
      <button style="margin-right: 15px">BUY</button>
      <button>DOWNLOAD</button>
    </div>
    <div><!--empty--></div>
    <div class="categories" >
      Categories:
      <h6 style="display: inline;margin-right: 3px; ">Fantasy</h6>
      <h6 style="display: inline ">Magic</h6>
    </div>
  </div>

  <div class="section2">
    Video Summary:
    <div class="linksContainer">
      <iframe width="1832" height="812" src="https://www.youtube.com/embed/CzDjWbQQaVg" title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>

      <iframe width="1832" height="812" src="https://www.youtube.com/embed/CzDjWbQQaVg" title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
      <iframe width="1832" height="812" src="https://www.youtube.com/embed/CzDjWbQQaVg" title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>

    Quotes:
    <div class="quotesContainer">
      <div class="quotes">
        "Mr. and Mrs. Dursley of number four, Privet Drive, were proud to say that they were perfectly normal, thank you
        very much."
      </div>
      <div class="quotes">
        "There will be no foolish wand-waving or silly incantations in this class. As such, I don't expect many of you
        to appreciate the subtle science and exact art that is potion-making. However, for those select few who possess the
        predisposition, I can teach you how to bewitch the mind and ensnare the senses. I can tell you how to bottle fame, brew
        glory, and even put a stopper in death.
        Then again, maybe some of you have come to Hogwarts in possession of abilities so formidable that you feel
        confident enough to not pay attention!"
      </div>
    </div>
  </div>
  <br><br>

  <footer>
    <p>&copy 2021 QuikRead, Inc.</p>
    <p>Goli is the best 2021</p>
  </footer>

</div>

