/* You can add global styles to this file, and also import other style files */

// Global Fonts
.harmattan {
    font-family: 'Harmattan', sans-serif;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}

.questrial {
    font-family: 'Questrial', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.lSPager {
    display: none;
}

.slider {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border-radius: 0.7rem;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  iframe {
    min-width: 100%;
    max-width: 100%;
    object-fit: contain;
    border-radius: 0.7rem;
  }
  
}

