/* You can add global styles to this file, and also import other style files */

// Global Fonts
.harmattan {
    font-family: 'Harmattan', sans-serif;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}

.questrial {
    font-family: 'Questrial', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.lSPager {
    display: none;
}